<main>
  <img src="assets/images/bg-pentagon.svg" alt="" class="bg" />
  <app-icon-container
    (click)="setValue('Scissors')"
    imageName="icon-scissors.svg"
    className="scissors"
  />
  <app-icon-container
    (click)="setValue('Paper')"
    imageName="icon-paper.svg"
    className="paper"
  />
  <app-icon-container
    (click)="setValue('Rock')"
    imageName="icon-rock.svg"
    className="rock"
  />
  <app-icon-container
    (click)="setValue('Lizard')"
    imageName="icon-lizard.svg"
    className="lizard"
  />
  <app-icon-container
    (click)="setValue('Spock')"
    imageName="icon-spock.svg"
    className="spock"
  />
</main>
